



.cta {
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	background: hsl(187 70% 85%);
	max-width: 50rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.5rem solid;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}



.indexcard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.indexcard{
    width: 350px;
    height: 400px;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    transition: all .3s ease-in;
    border: 2px solid rgb(0, 0, 0);
}
.indexcard > *{
    padding: 10px;
}
.indexcard .card-image{
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.indexcard .card-title{
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
}
.indexcard:hover{
    background: #f49ac6;
    color: #fff;


}

.indexcard .card-text{
    line-height: 20px;
    font-size: 400;
    font-weight: 700;
}

.indexbanner-bg {
    background-image: url(https://3.bp.blogspot.com/-QyrMdAmSahk/WQtGcZyoCaI/AAAAAAAAXL0/N0w9_7WJUU8XDU1eIwb98qLjSAW-tTbnACLcB/s1600/2.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}