.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

.pictureincard {
  max-width: 100%;
  max-height: 100%;
  width: 500px;
  height: 300px;
  min-height: 100px;
  object-fit: cover;
  object-position: center;
}

.maincard {
  max-width: 100%;
  max-height: 100%;
  width: 1100px;
  height: 500px;
  object-fit: cover;
}

.banner-bg-1 {
  background-image: url(~/static/img/index/872.png);
  background-position: right;
  background-size: cover;
  padding: 100px 0;
  width: 100%;
  height: 1150px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
}