// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
$body-font-family: 'Kanit', sans-serif !important;
$font-size-root: 16px;
//BG color
$material-light: (
  // 'background': #CFD8DC
  'background': #F3EEEA
);